body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

#title, #press, #testimonials, #cta {
  color: #fff;
  background-color: #e97171;
}

h1, h3, .pricing-cards {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, .navbar-brand,
.card-body h2 {
  font-weight: bolder;
}

.row h1,
.cta-heading {
  font-size: 3.5rem;
}

.row h1,
#testimonials h2,
.cta-heading {
  line-height: 1.5;
}

/* navbar */
/* to have some space between the navigator and the content */
.navbar {
  padding: 0 0 4.5rem;
}

/* This is the brand name Tindog */
.navbar-brand {
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.content-button {
  margin: 5% 3% 5% 0;
}

/* title */
/* this makes it more specific and overrides the general container-fluid css */
#title .container-fluid {
  padding: 3% 15% 7%;
}

/* doggy image */
.dog-image {
  width: 60%;
  height: 90%;
  /* transform: rotate(25deg); */
  margin: 0 20%;
}

/* 3 information content */
#features h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

#features p {
  color: #8f8f8f;
}

.icon {
  margin-bottom: 1rem;
}

.icon, .footer-icon {
  color: #e97171;
  transition: 0.3s;
}

#features i:hover,
#footer i:hover {
  color: #ffcb8e;
}

/* testimonial section */
#testimonials h2 {
  font-size: 3rem;
}

.testimonial-image {
  height: 15%;
  border-radius: 50%;
  margin: 20px;
}

.testimonial-image,
.logo-image {
  width: 15%;
}

/* Press Logo */
#press {
  padding-bottom: 3%;
}

.logo-image {
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.card-body {
  color: #323232;
}

/* Call to action */
.cta-heading {
  font-family: 'Montserrat';
  font-weight: bold;
}

/* footer */
.footer-icon {
  margin: 20px 10px;
}

/* media queries */
@media (max-width: 10298px) {
  #title {
    text-align: center;
  }
}
